permalink: /:year:month:day/:title
url: http://eranws.github.io/windows-95
baseurl: /

# variables
name: Weissencorp
description: Family owned software shop
google_verification: null


# File management
include: [".htaccess"]
exclude: ["README.md", "LICENSE"]

# Sass
sass:
  style: :compressed
  sass_dir: _sass

# Markdown
markdown: kramdown
kramdown:
  input: GFM
  syntax_highlighter_opts:
    disable : true